<!-- {{results.data}} -->
<!-- {{a}} -->
<input type="text" ng-model="ins">
{{ins}}
<div class="container-fluid">
	<div class="row">
		<div ng-repeat="data in products.data">
			<div class="col-lg-4">
				<a href="" ng-click="findProduct(data._id)">
					<div class="thumbnail">
						<img src="{{data.imageurl}}" alt=""style="width:250px;height:300px">
						<div class="">
							<div>{{data.productName}}</div>
							<div>{{data.product}}</div>
							<div>{{data.price}}</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>