<div class="container">
		<div class="row">
			<div class="container" id="formContainer">
			<div class="row">
				<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="well ">
			  <form class="form-signin" id="login" role="form">
				<h3 class="form-signin-heading">Please sign in</h3>
				<a href="#" id="flipToRecover" class="flipLink">
				  <div id="triangle-topright"></div>
				</a>
				<input type="email" class="form-control" ng-model="user.email" id="loginEmail" placeholder="Email address"  autofocus>
				<input type="password" class="form-control" ng-model="user.password" id="loginPass" placeholder="Password" >
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signIn(user)">Sign in</button>
				<div style="margin-top: 1em">
				<h6>Don't have an account Try Signing up!!!</h6>
			
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signUp()">Sign Up</button>
			</div>
			  </form>
		
			  <!-- <form class="form-signin" id="recover" role="form">
				<h3 class="form-signin-heading">Enter email address</h3>
				<a href="#" id="flipToLogin" class="flipLink">
				  <div id="triangle-topleft"></div>
				</a>
				<input type="email" class="form-control" name="recoveryLoginEmail" id="recoveryLoginEmail" placeholder="Email address" required autofocus>
				<button class="btn btn-lg btn-primary btn-block" type="submit" >Recover password</button>
			  </form> -->
			</div>
			</div>
			<div class="col-sm-4"></div>
			</div>
	
			</div> <!-- /container -->
		</div>
	</div>